BucKonnect Part 2/XML DTD and Schema Files/calendar.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com)-->
<!ELEMENT calendar ((<OSU_Email_ID,calendarId,startDateTime,endDateTime,location,eventName>))>
<!ATTLIST calendar
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation CDATA #FIXED "E:/dec/User1/src/calendar.xsd"
>
<!ELEMENT OSU_Email_ID (#PCDATA)>
<!ELEMENT CalendarId (#PCDATA)>

